@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
  height: 100%;
}
html{
  font-size: 62.5%;
}
main{
  flex-grow: 1  ;
}

.brend{
  background: linear-gradient(to right, #181715, #888987,#061f70);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.body-pic{

  background: linear-gradient(120deg,  #ffb300 0% 45% , #211e1e 45% 100%);
}

.shado{
  box-shadow:  rgb(255, 3, 3) 0px -12px 30px, rgba(205, 36, 36, 0.922) 0px 4px 6px, rgb(118, 0, 0) 0px 12px 13px, rgb(255, 0, 0) 0px -3px 5px;
}
.li-hr{
  position: relative;
}
.li-hr::after{
  position: absolute;
  left: 0;
  bottom: -3px;
  content: "";
  display: inline-block;
  width: 20rem;
  height: 2px;
  background: #fff;
}